<div class="container">
    <h1 class="text-center mt-5 text-light">Products</h1>
    <div class="row mt-5">
      <div class="col-2">
        <input [(ngModel)]="product.id" type="text" class="form-control m-1" placeholder="id">
      </div>
      <div class="col-2">
        <input [(ngModel)]="product.name" type="text" class="form-control m-1" placeholder="name">
      </div>
      <div class="col-2">
        <input [(ngModel)]="product.description" type="text" class="form-control m-1" placeholder="description">
      </div>
      <div class="col-2">
        <input [(ngModel)]="product.image" type="text" class="form-control m-1" placeholder="image url">
      </div>
      <div class="col-2">
        <button (click)="ajout()" class="btn btn-primary form-control m-1">Add</button>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-3" *ngFor="let item of products">
        <div [ngClass]="{
          'card p-1': true,
          'high': item.id > 100,
          'medium': item.id <= 100 && item.id > 50,
          'low': item.id <= 50
        }">
          <div class="card-image">
            <img class="w-100" [src]="item.image" alt="">
          </div>
          <div class="card-body">
            <h2>{{ item.id }}</h2>
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  